/* =====Hover cases===== */
.item:hover {
  background-color: rgb(110, 241, 231) !important;
}

.images:hover {
  transform: scale(1.19);
}

.box__select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*=====Responsive cases=====  */
@media only screen and (max-width: 720px) {
  .logo {
    width: 407px;
    height: 150px;
  }
}

@media only screen and (max-width: 490px) {
  .logo {
    width: 203px;
    height: 75px;
  }
}

@media only screen and (max-width: 567px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
