/* =====Hover cases===== */
.item:hover {
  background-color: rgb(110, 241, 231) !important;
  /* background-color: rgb(43, 134, 127) !important; */
}

.images:hover {
  transform: rotate(8deg);
}

/*=====Responsive cases=====  */
@media only screen and (max-width: 720px) {
  .logo {
    width: 407px;
    height: 150px;
  }
  }

@media only screen and (max-width: 490px) {
.logo {
  width: 203px;
  height: 75px;
}
}


@media only screen and (max-width: 567px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
